---
import Layout from "../layouts/BlogPost.astro";
const pageTitle = "About Me";

const identity = {
  firstName: "Berat",
  country: "North Macedonia",
  occupation: "Software Engineer",
  hobbies: [
    "Reading",
    "Traveling",
    "Photography",
    "Cooking",
    "Walking in nature",
  ],
  interests: [
    "Software Development",
    "Web Development",
    "Artificial Intelligence",
  ],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Node.js", "Python"];

const happy = true;
const finished = false;
const goal = 3;
---

<Layout
  title={pageTitle}
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}</li>
    <li>
      I live in {identity.country} and I work as a Freelance {
        identity.occupation
      }.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li>{skill}</li>)}
  </ul>

  <p>
    Morbi tristique senectus et netus. Id semper risus in hendrerit gravida
    rutrum quisque non tellus. Habitasse platea dictumst quisque sagittis purus
    sit amet. Tellus molestie nunc non blandit massa. Cursus vitae congue mauris
    rhoncus. Accumsan tortor posuere ac ut. Fringilla urna porttitor rhoncus
    dolor. Elit ullamcorper dignissim cras tincidunt lobortis. In cursus turpis
    massa tincidunt dui ut ornare lectus. Integer feugiat scelerisque varius
    morbi enim nunc. Bibendum neque egestas congue quisque egestas diam. Cras
    ornare arcu dui vivamus arcu felis bibendum. Dignissim suspendisse in est
    ultricies mi.
  </p>

  <p>
    Mollis nunc sed id semper risus in. Convallis a cras semper auctor neque.
    Diam sit amet nisl suscipit. Lacus viverra vitae congue eu consequat ac
    felis donec. Egestas integer eget aliquet nibh praesent tristique magna sit
    amet. Eget magna fermentum iaculis eu non diam. In vitae turpis massa sed
    elementum. Tristique et egestas quis ipsum suspendisse ultrices. Eget lorem
    dolor sed viverra ipsum. Vel turpis nunc eget lorem dolor sed viverra.
    Posuere ac ut consequat semper viverra nam. Laoreet suspendisse interdum
    consectetur libero id faucibus. Diam phasellus vestibulum lorem sed risus
    ultricies tristique. Rhoncus dolor purus non enim praesent elementum
    facilisis. Ultrices tincidunt arcu non sodales neque. Tempus egestas sed sed
    risus pretium quam vulputate. Viverra suspendisse potenti nullam ac tortor
    vitae purus faucibus ornare. Fringilla urna porttitor rhoncus dolor purus
    non. Amet dictum sit amet justo donec enim.
  </p>

  {happy && <p>I am happy to be learning Astro!</p>}
  {finished && <p>I have finished this tutorial!</p>}
  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not to finish in 3 days.</p>
    )
  }
</Layout>
